<mat-toolbar class="navbar" color="transparent">
  <mat-toolbar-row>
    <span class="title">My Application</span>
    <span class="spacer"></span>

    <button class="menu-toggle" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    @for(link of navLinks;track link.title){
      <div class="nav-links">
        <a mat-menu-item [routerLink]="[link.href]" routerLinkActive="router-link-active" >
          <mat-icon>{{link.icon}}</mat-icon>
          <span>{{link.title}}</span>
        </a>
      </div>
    }
    <mat-menu #menu="matMenu">
      @for(link of navLinks;track link.title){
      <a mat-menu-item [routerLink]="[link.href]" routerLinkActive="router-link-active">
        <mat-icon>{{link.icon}}</mat-icon>
        <span>{{link.title}}</span>
      </a>
      }
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

