.container {
  width: 100%;
  height: 100vh; /* Adjusted to ensure full height without causing overflow */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden; /* This hides the vertical scroll bar */
}

.form {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .form {
    width: 100%;
  }
}

mat-form-field {
  width: 100%;
}
